body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin: 0;
}

hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}

.container {
    width: 80%;
    margin: auto;
}

form {
    margin: 20px 0;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

input[type="text"], input[type="submit"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.book-list {
    text-align: left;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.book-item {
    margin: 10px 0;
}

.book-item p {
    margin: 5px 0;
}

.no-books {
    color: red;
}

.search-button {
    font-size: 19px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #4CAF50; 
}

.logout-form {
    position: absolute;
    right: 70px;
    margin: 0; 
    padding: 0;
}

.btn {
    background-color: #9c9c9c;
    color: white;
    border: none;
    padding: 10px 20px; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0;
    font-size: 16px;
}

.btn:hover {
    background-color: #bb83fa;
}

.book-list2 {
    text-align: left;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}