body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
}

.heading {
    color: white;
    font-size: 2em;
    margin: 0;
}

.wrapper {
    width: 80%;
    max-width: 400px;
    margin: 170px auto;
    padding: 30px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.input-box {
    margin: 15px 0;
}

.form-control {
    padding: 13px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
}

.btn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    font-size: 18px;
}

.btn:hover {
    background-color: #45a049;
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #4CAF50;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
